
<div class="container theme-showcase" role="main">
<div class="jumbotron">
  <h2>Приветствую тебя, мой друг!</h2>
  <p>Ты находишься на замечательном ресурсе, где ты точно не забудешь
    о важных событиях своей жизни. </p>
  <p>Ты ещё не с нами? Присоединяйся!</p>
  <%= link_to '<button type="button" class="btn btn-primary">Зарегистрироваться</button>'.html_safe, new_user_registration_path %>

</div>
    </div>