<div class="container-alba">
  <h1>Редактировать событие</h1>
<%= render 'form' %>
<%= link_to 'Показать', @event,:class => 'btn btn-primary' %> |
<%= link_to 'Назад', events_path, :class => 'btn btn-primary' %>|
<%= link_to 'Удалить', @event,method: :delete, :class => 'btn btn-primary' %>
</div>