@import "bootstrap";


body{
  padding-top: 70px;
 padding-bottom: 30px;
  font-family: "Monaco", "Inconsolata", "Consolas", monospace;
  font-size: 14px;
  line-height: 1.5px;
  color: #252627;
  background-color: #BBBBBB;
  box-sizing: border-box;



}

.container{
  width: 1170px;
  text-align: center;


}
.container-alba{
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;

}
.alert-error{
  font-family: "Monaco", "Inconsolata", "Consolas", monospace;
  text-align: center;
  border: 2px;
  background-color: #ff7d90;


}