<p>Здравствуйте, <%= @user.last_name+" "+@user.first_name %>!</p>

<p>Кто-то попросил ссылку , чтобы изменить пароль на сайте fs-calendar-alba.herokuapp.com . Вы можете сделать это через ссылку ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@user, reset_password_token: @token) %></p>

<p>Если вы этого не запрашивали, пожалуйста, игнорируйте это письмо.</p>
<p>Ваш пароль не будет изменён, пока вы не перейдёте по ссылке и не придумаете новый.</p>
