<p>Hello <%= @resource.email %>!</p>

<p>Кто-то попросил ссылку , чтобы изменить пароль. Вы можете сделать это через ссылку ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы этого не запрашивали, пожалуйста, игнорируйте это письмо.</p>
<p>Ваш пароль не будет изменён, пока вы не перейдёте по ссылке и не придумаете новый.</p>
