<p>Здравствуйте, <%= @user.last_name+" "+@user.first_name %>!</p>

<p>Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток войти.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свой аккаунт:</p>

<p><%= link_to 'Разблокировать свой аккаунт', unlock_url(unlock_token: @user.token) %></p>
