<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток войти.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свой аккаунт:</p>

<p><%= link_to 'Разблокировать свой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
